.navbar{
  background-color: #4C4B16;
}

.tombol{
  background-color: #898121;
  font-weight: 500;
  padding: 8px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  border: none;
}

.tombol:hover{
  color: white;
  background-color: #dac90f;
}

h4, label{
  color: #4C4B16;
  font-weight: 500;
}

.form-control{
  color: #4C4B16;
  font-weight: 500;
}